.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: MediumSeaGreen ;
}

.navbar li {
    float: left;
    border-right: 1px solid #bbb;    
}

.navbar li a,.dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover,.dropdown:hover .dropbtn  {
    background-color: #111;
}
.navbar li: last-child{
	border-right: none;
}
.navbar input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.navbar input[type=text]:focus {
    width: 100%;
}
/*Navbar Griding*/
.nav  {width: 16.56%;}
[class*="col-"] {
    float: left;
    padding: 15px;
    
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: MediumSeaGreen;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.col-4 {width: 33.33%;overflow: hidden;}
.col-7 {width: 58.33%;}
.tombolBuku button{
    margin-right: 10%;
    width: 20%;
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 9px #999;
}
.tombolBuku button:hover {background-color: #3e8e41}

.tombolBuku button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}