/*.navbar{
	background-color: MediumSeaGreen;
}
ul.navbar{
	list-style-type: none;
}*/
*{
    box-sizing: border-box;
}
.navbar img{
	float: left;
	padding: 0;
}
.navbar ul {
    list-style-type: none;
    width: 600px;
    margin: 0px auto;
    overflow: hidden;
    background-color: MediumSeaGreen ;
}
.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #8BC34A;
}
.content img{
    width: 200px;
}
.content ul{
    margin-top: 50px;
    list-style-type: none;
    overflow: auto;
    background-color: lightblue;
}
.content li a{
    align-items: center;
}
.content li{
    float: left; 
    border: 2px solid;
    text-align: center;
}
.col-4 {width: 50%;}
.howItWorks ol{
    background-color: lightblue;
    border: 2px solid;
}

.footer ul{
    overflow: auto;
    list-style-type: none;
}
.footer li,img{
    float: left;
}
.footer li a{
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-size: 30px;
}