body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    margin: 0px;
}
/*Navigasi bar*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('praktikum1/src/img/background.png');
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
}
.searchBar input{
	margin-left: 25%;
	width: 250px;
	height: 40px;
    margin-top: 35px;
}
/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: white;
    color: #525354;
    font-style: bold;
}
.logoClass img{
    width: 100px;
    margin-left: 60%;
}
/*Categories Section*/
.catSection{
    margin-left: 50px;
    margin-top: 50px;
    border:2px solid #808387;
    float: left;
}
.catSection ul{
    list-style-type: none;
}
.catSection li{
    padding: 10px;
}
.catSection a{
    text-align: center;
    text-decoration: none;
    color: black;
}
/*Container Info*/
.containerInfo{
   float: left;
   margin-left: 50px;
   margin-top: 50px;
}
.containerInfo img{
    float: left;
    max-height: 600px;
    max-width: 300px;
    padding-right: 50px;
}   
/*Button*/
.tombol{

}
.wishlist {
    position: relative;
    background-color: #f44336;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
    display: block;
}

.wishlist:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.wishlist:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.read {
    position: relative;
    background-color: #008CBA;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
    display: block;
}

.read:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.read:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.download {
    position: relative;
    background-color: #4CAF50;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 30px;
    display: block;
}

.download:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.download:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
/*Footer*/
.footer{
    color: white;
    clear:left;
    padding-bottom: 50px; 
    background-color: #333;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.footer li {
    float: left;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.footer li a:hover {
    background-color: #111;
}
