
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
    margin: 0px;
}
/* Create a Parallax Effect */
.bgimg-1{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('img/background.png');
    min-height: 70%;
}
@media only screen and (max-device-width: 1024px) {
    .bgimg-1{
        background-attachment: scroll;
    }
}
.logoPap {
	color: white;
	text-align: center;


}
.logoPap img{
	max-height: 20%;
	max-width: 20%;
	margin-bottom: 0px;
}
.logoPap h1{
	margin-top: 0px; 
	margin-bottom: 0px;
	font-size: 100px;
}
.logoPap h2{
	margin-top: 0px; 
	font-size: 50px;
}
/*Navigasi bar*/
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.searchBar input{
	margin-left: 25%;
	width: 250px;
	height: 40px;
}
/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: white;
    color: #525354;
    font-style: bold;
}
/*information about pap*/
.info{
    text-align: center;
}
/*Categories Below*/
.catBelow{
	text-align: center;
	white-space: nowrap;
	overflow: auto;
}
.catBelow ul{
	list-style-type: none;
}
.catBelow li{
	display: inline-block;
}
.catBelow li a{
	color: Black;
	text-align: center;
	font-size: 20px;
	padding: 14px;
	text-decoration: none;
}
.catBelow li a:hover {
    background-color: #8a8f96;
}
/*Navigasi bar Bawah*/
.footer{
	color: white;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.footer li {
    float: left;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.footer li a:hover {
    background-color: #111;
}
.searchBarBelow input,p{
	float: right;
	margin-right: 25%;
	margin-top: 10px; 
}
